@font-face {
    font-family: "Darkones";
    src: url(../Font/Darkones-Regular.ttf);
}

@font-face {
    font-family: "LemonMilk";
    src: url("../Font/LEMONMILK-Medium.otf");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2d432f;
}
* {
    padding: 0px;
    margin: 0px;
}

.contato {
    z-index: 4;
    opacity: 0%;
    animation: Surgir2 3s forwards;
    position: fixed;
    background-image: url(../icons/whatsapp_icon.png);
    background-position: center;
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-top: 40px;
    border-radius: 100%;
}

.contato:hover {
    transform: translateY(-8px);
    transition: 1s;
}

.center_image_portfolio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(83, 255, 183);
    background-image: url(../images/davifundo.png);
    background-repeat: no-repeat;
    background-position: center -200px;
    background-size: 400px;

    margin-bottom: 60px;
    min-width: 300px;
    max-width: 400px;
    height: 480px;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

.Titulo {
    font-family: LemonMilk;
    font-size: 30pt;
    color: white;
}

#ledlogo {
    position: absolute;
    animation: ledAnima 1s forwards;
    opacity: 0%;
    z-index: -1;
    transform: translateX(240px) translateY(-230px);
}

.center_div {
    display: flex;
    justify-content: center;
}

.Header {
    animation: Surgir 1s forwards;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(110, 255, 88);
    height: 200px;
}

.Showcase {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#Categoria {
    color: white;
    text-align: center;
    margin: 30px;
}

.image_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2px;
    background-color: white;
    background-size: 370px 370px;
    background-position: center;
    background-repeat: no-repeat;
    width: 370px;
    margin: 5px;
    height: 370px;
}
.image_content h3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.758);
    padding: 10px;
}

.image_content h2 {
    color: white;
    text-align: end;
    background-color: rgba(13, 91, 59, 0.919);
    font-size: 15pt;
    padding: 10px;
}

.Services {
    padding-top: 30px;
    background-color: #208f3e;
    padding-bottom: 40px;
}

#TServices {
    font-family: LemonMilk;
    font-size: 22pt;
    text-align: center;
    color: rgb(26, 255, 95);
}

.ServicesN {
    padding-top: 30px;
    background-color: #20348f;
    padding-bottom: 40px;
}

#TServicesN {
    font-family: LemonMilk;
    font-size: 22pt;
    text-align: center;
    color: rgb(26, 198, 255);
}