@font-face {
    font-family: "Darkones";
    src: url(../Font/Darkones-Regular.ttf);
}

@font-face {
    font-family: "LemonMilk";
    src: url("../Font/LEMONMILK-Medium.otf");
}

body {
    background-color: rgb(28, 40, 28);
}
* {
    padding: 0px;
    margin: 0px;
}

.contato {
    opacity: 0%;
    animation: Surgir2 3s forwards;
    position: fixed;
    background-image: url(../icons/whatsapp_icon.png);
    background-position: center;
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-top: 40px;
    border-radius: 100%;
}

.contato:hover {
    transform: translateY(-8px);
    transition: 1s;
    background-color: rgb(0, 255, 102);
}

.center_image_portfolio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(83, 255, 183);
    background-image: url("https://img.freepik.com/fotos-gratis/homem-desfrutando-de-uma-xicara-de-cha-matcha_23-2150215073.jpg?semt=ais_hybrid&w=740");
    background-repeat: no-repeat;
    background-position: center -10px;
    background-size: auto;

    margin-bottom: 80px;
    width: 400px;
    height: 480px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.Titulo {
    font-family: LemonMilk;
    font-size: 30pt;
    color: white;
}

#ledlogo {
    position: absolute;
    animation: ledAnima 1s forwards;
    opacity: 0%;
    z-index: -1;
    transform: translateX(240px) translateY(-230px);
}

.center_div {
    display: flex;
    justify-content: center;
}

.Header {
    animation: Surgir 1s forwards;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(110, 255, 88);
    height: 200px;
}

.Showcase {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: red;
}

.Image1 {
    padding: 5px;
    width: 380px;
    height: 380px;
}